body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
header {
    background-color: #004c97;
    color: white;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
h1, h2 {
    font-size: 24px;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}
section#matriculas .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008cba;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #004c97;
    color: white;
}
