$primary: #212529;
@mixin container {
  max-width: 1135px;
  margin: 0 auto;
  width: 90%;
}
@mixin lato {
  font-family: "Lato", sans-serif;
}
@mixin pp {
  font-family: "Poppins", sans-serif;
}
.container {
  @include container();
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: $primary;
  font-family: "Open Sans", sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 30px;
  margin-bottom: 30px;
}

main {
  padding: 80px;

  @media (max-width: 900px) {
    padding: 40px 0;
  }

  .container {
    background: rgba(222, 188, 196, 0.5);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(179, 127, 140, 0.3);
    padding: 80px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;

    @media (max-width: 900px) {
      grid-template-columns: repeat(1, 1fr);
      padding: 30px;

      img {
        grid-row: 1;
      }
    }

    h1 {
      font-size: 60px;
      line-height: 1;
      margin-bottom: 24px;

      @media (max-width: 900px) {
        font-size: 40px;
      }
      @media (max-width: 460px) {
        font-size: 24px;
      }
    }

    p {
      font-size: 18px;
      margin-bottom: 12px;

      @media (max-width: 900px) {
        font-size: 16px;
      }
    }
  }
}

footer {
  background: #111111;
  padding: 16px 0;
  margin-top: 6px;
  @media (min-width: 900px) {
    padding: 48px 0;
  }
  .copy,
  p {
    text-align: center;
    display: block;
    color: #666666;
    font-size: 14px;
  }
  p {
    margin-bottom: 20px;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;

    a {
      font-size: 19px;
      color: #f8f9fa;
      padding: 8px 12px;
      text-transform: uppercase;
    }
  }
}

.faixa {
  background: #7c2130;
  * {
    color: #fff;
  }
  padding-bottom: 45px;

  box-shadow: inset #fff 0 80px;

  .container {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;

    @media (max-width: 900px) {
      flex-direction: column;
      gap: 24px;
      text-align: center;
    }
    .title {
      padding-top: 80px;
      @media (max-width: 900px) {
        padding-top: 0;
      }
    }
    p {
      font-size: 20px;
      line-height: 1.6;
      max-width: 40ch;
    }
  }
}

.quality {
  padding: 80px 0;
  text-align: center;

  .title {
    margin-bottom: 60px;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
