.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.nav-1 {
  background-color: #231f20;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  display: flex;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  min-width: 0%;
  max-width: 170px;
}

.icon {
  color: #fff;
  margin: auto 0;
  padding-left: 0;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1em;
  position: static;
}

.drop {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  padding-right: 0;
  display: flex;
}

.drop-tittle {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.nav {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.nav-links {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: auto;
  display: flex;
}

.nav-2 {
  background-color: #fff;
  border-top: 1px solid #dcdbdb;
  border-bottom: 1px solid #dcdbdb;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  display: flex;
}

.s-health {
  color: #02838d;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1em;
}

.nav-links-2 {
  color: #000;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.nav-2-div {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.nav-2-div.mobile {
  display: none;
}

.divisor {
  background-color: #dcdbdb;
  width: 1px;
  height: 25px;
}

.ad {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
}

.adv-text {
  color: #bcbfc5;
  font-size: 12px;
  line-height: 1em;
}

.adv-1 {
  background-color: #f7f7f7;
}

.image-adv {
  text-align: center;
  border: 1px solid #8e8c91;
  width: 100%;
  max-width: 730px;
  height: 100%;
  min-height: 90px;
  max-height: 90px;
}

.icon-2 {
  color: #000;
  margin: auto 0;
  padding-left: 0;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1em;
  position: static;
}

.drop-2 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.notice {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.part-1 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  width: 70%;
  display: flex;
}

.part-2 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  width: 30%;
  display: flex;
}

.heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 37px;
  line-height: 1.2em;
}

.body {
  color: #000;
  font-family: Montserrat, sans-serif;
  line-height: 1em;
}

.text-block {
  line-height: 1.5em;
}

.writer {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-bottom: 5px #000;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0;
  display: flex;
}

.writer.mobile {
  display: none;
}

.dr {
  background-image: url('../images/juhhh.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0 solid #000;
  border-radius: 1000px;
  min-width: 80px;
  min-height: 80px;
}

.dr-info {
  line-height: 1.5em;
}

.sub {
  font-size: 22px;
  line-height: 1.5em;
}

.destaque {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: #f5f6f7;
  border-left: 3px solid #02838d;
  flex-flow: column;
  padding: 20px;
  display: flex;
}

.destaque-text {
  font-size: 16px;
  line-height: 1.5em;
}

.destaque-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.2em;
}

.copy-body {
  font-size: 17px;
  line-height: 1.5em;
}

.cta {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
}

.image {
  width: 100px;
  height: 100px;
}

.image-2 {
  width: 100%;
}

.nav-links-sh {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: auto;
  display: flex;
}

.adv {
  border-top: 10px solid #000;
  border-bottom: 10px solid #000;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

.code-embed {
  color: #df0000;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.button {
  color: #000;
  text-align: center;
  background-color: #05d805;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5em;
}

.social-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  display: grid;
}

.social {
  background-color: #f5f6f7;
  border-radius: 20px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  display: flex;
}

.social:hover {
  background-color: #fff;
}

.ico {
  width: 40px;
  height: 40px;
}

.image-3, .image-4, .link-block {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .logo {
    max-width: 120px;
  }

  .drop-tittle {
    font-size: 14px;
  }

  .nav {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .nav-links {
    margin-left: auto;
    margin-right: 0;
  }

  .s-health, .nav-links-2 {
    font-size: 14px;
  }

  .nav-2-div {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .drop-2 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .notice {
    flex-flow: column;
  }

  .part-1 {
    width: 100%;
  }

  .part-2 {
    order: -1;
    width: 100%;
  }

  .writer.mobile {
    display: flex;
  }

  .writer.pc {
    display: none;
  }

  .nav-links-sh {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .adv {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav-links, .nav-2.pc, .nav-2-div.pc {
    display: none;
  }

  .nav-2-div.mobile {
    display: flex;
  }

  .adv-1 {
    display: none;
  }

  .notice {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    padding-top: 0;
  }

  .heading {
    font-size: 25px;
  }

  .writer.pc {
    display: none;
  }

  .dr-info {
    margin-bottom: 0;
  }

  .sub {
    font-size: 20px;
  }

  .ed {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    display: flex;
  }

  .menu {
    max-width: 40%;
  }
}

#w-node-fb06cb18-3bd4-dbc4-d081-3e556ab36ac5-94441d6f {
  grid-area: Area;
}


